/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* CSS Variables */

/* Base and Light Mode Specific Colors */
:root {
  --global-primary-bg: #101010;
  --global-primary-bg-tr: rgba(16, 16, 16, 0.97);
  --global-ad-bg: #0d0d0d;
  --global-input-div: #1f1f1f;
  --global-input-border: rgba(255, 255, 255, 0.1);
  --global-text: #e0e0e0;
  --global-card-bg: #1f1f1f;
  --global-card-title-bg: #292929;
  --global-card-shadow: rgba(0, 0, 0, 0.3);
  --global-card-button-shadow: rgba(0, 0, 0, 0.6);
  --global-primary-skeleton: rgba(165, 165, 165, 0.1);
  --global-secondary-skeleton: rgba(165, 165, 165, 0.3);
  --global-button-bg: #2b2b2b;
  --global-button-hover-bg: #333;
  --global-button-text: #e0e0e0;
  --global-button-shadow: rgba(255, 255, 255, 0.5);
  --global-popup-shadow: rgba(0, 0, 0, 0.5);
  --global-genre-button-bg: #2f2f2f;
  --global-shadow: rgba(0, 0, 0, 0.1);
  --global-filter: rgba(0, 0, 0, 0.6);
  --global-secondary-bg: #1f1f1f;
  --global-tertiary-bg: #2a2a2a;
  --global-border-radius: 0.3rem;
  --primary-accent: #f44336;
  --primary-accent-bg: #ffccbc;
  --logo-text-transparent: url("/src/assets/miruro-text-transparent-black.webp");
  --logo-transparent: url("/src/assets/miruro-transparent-black.webp");
}

/* Dark Mode Specific Colors */
:root.dark-mode {
  --global-primary-bg: #0d0d0d;
  --global-primary-bg-tr: rgba(13, 13, 13, 0.97);
  --global-ad-bg: #1a1a1a;
  --global-input-div: #1a1a1a;
  --global-input-border: rgba(255, 255, 255, 0.1);
  --global-text: #e0e0e0;
  --global-card-bg: #1f1f1f;
  --global-card-shadow: rgba(0, 0, 0, 0.6);
  --global-card-button-shadow: rgba(255, 255, 255, 0.6);
  --global-primary-skeleton: rgba(85, 85, 85, 0.1);
  --global-secondary-skeleton: rgba(85, 85, 85, 0.3);
  --global-button-bg: #2b2b2b;
  --global-button-hover-bg: #333;
  --global-button-shadow: rgba(0, 0, 0, 0.6);
  --global-button-text: #ebebeb;
  --global-popup-shadow: rgba(0, 0, 0, 0.3);
  --global-genre-button-bg: #2f2f2f;
  --global-shadow: rgba(255, 255, 255, 0.08);
  --global-secondary-bg: #1f1f1f;
  --global-tertiary-bg: #2a2a2a;
  --global-card-title-bg: #151515;
  --logo-text-transparent: url("/src/assets/miruro-text-transparent-white.webp");
  --logo-transparent: url("/src/assets/miruro-transparent-white.webp");
}

/* Basic app styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--global-primary-bg);
  color: var(--global-text);
  transition: 0.3s ease;
}

/* Responsive styles */
@media (max-width: 1000px) {
  body {
    padding: 0;
  }
}

/* Selection styles */
::selection {
  background-color: var(--primary-accent-bg);
  color: var(--primary-accent);
}
